<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mybatisplus.module.user.mapper.UserMapper">
    <resultMap id="userMap" type="com.spring.mybatisplus.module.user.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="age" property="age"/>
    </resultMap>
    <insert id="create" parameterType="com.spring.mybatisplus.module.user.entity.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into user(username,password,age) values  (#{user.username},#{user.password},#{user.age})
    </insert>
    <select id="getByUsername" parameterType="String" resultMap="userMap">
        select * from user
            <where>
                <if test="username != null || username != ''">
                    username = #{username}
                </if>
            </where>
    </select>

    <select id="getUserByPage" parameterType="long" resultMap="userMap">
        select * from user limit #{offset}, #{pageSize}
    </select>

    <select id="getByWrapper" parameterType="String" resultMap="userMap">
        select * from user ${ew.customSqlSegment}
    </select>
</mapper>